@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,700);

body{
	
}

h1,h2,h3,h4,h5,h6{
	font-family: 'lato', sans-serif;
}


/*grid layout, sizing, and padding*/
.container{
	margin: 0 auto;
	background: #aaa;
	max-width: 600px;
}

.padding-box{
	background-color: red;
	padding: 10px;
	border:1px solid black;
}

.margin-box{
	margin-left: 10px;
	outline:1px cyan solid;
}




